In [1]:
import io
import pandas as pd
import requests as r

In [2]:
#variables needed for ease of file access
url = 'http://drd.ba.ttu.edu/isqs6339/ex/L2.1/'
file_1 = 'employment.csv'
file_2 = 'job_title.csv'
file_3 = 'job_title_year.csv'

In [3]:
#pull employment
res = r.get(url + file_1)
res.status_code
df_emp = pd.read_csv(io.StringIO(res.text)) 

#pull job
res = r.get(url + file_2)
res.status_code
df_job = pd.read_csv(io.StringIO(res.text))

In [6]:
df_emp.head()

   id        ssn  age   salary  jobtitleid
0   1  933003970   22  84370.0         8.0
1   2  507002598   48  78482.0         4.0
2   3  152008826   39  87111.0         1.0
3   4  788008673   24  96731.0         9.0
4   5  351008582   24  88798.0         7.0

In [7]:
df_job.head()

   jobtitleid  jobtitle  avg_salary  avg_age
0           1   Analyst       70000       33
1           2   Manager       52000       32
2           3  Director       70000       40
3           4       CEO       69000       47
4           5       CIO       64000       44

In [9]:
df_emp_merge = df_emp.merge(df_job, how="inner", left_on="jobtitleid", right_on="jobtitleid")
df_emp_merge

,id,ssn,age,salary,jobtitleid,jobtitle,avg_salary,avg_age
0,1,933003970,22,84370.0,8.0,Asst. Manager,81000,32
1,7,733008623,30,97576.0,8.0,Asst. Manager,81000,32
2,37,750004704,46,47686.0,8.0,Asst. Manager,81000,32
3,45,707009414,29,NaN,8.0,Asst. Manager,81000,32
4,50,284001503,39,98150.0,8.0,Asst. Manager,81000,32
5,54,147006799,31,59056.0,8.0,Asst. Manager,81000,32
6,55,636009746,39,78476.0,8.0,Asst. Manager,81000,32
7,74,665008754,26,97584.0,8.0,Asst. Manager,81000,32
8,85,469007299,28,89028.0,8.0,Asst. Manager,81000,32
9,2,507002598,48,78482.0,4.0,CEO,69000,47
10,28,369005211,45,73800.0,4.0,CEO,69000,47
11,43,398009013,37,88261.0,4.0,CEO,69000,47
12,46,424004379,36,62013.0,4.0,CEO,69000,47
13,59,963003214,30,86521.0,4.0,CEO,69000,47
14,67,509009222,41,57509.0,4.0,CEO,69000,47
15,79,474009956,27,58564.0,4.0,CEO,69000,47
16,82,662002044,40,70727.0,4.0,CEO,69000,47
17,91,751009209,20,54761.0,4.0,CEO,69000,47
18,95,784005553,28,96509.0,4.0,CEO,69000,47
19,3,152008826,39,87111.0,1.0,Analyst,70000,33
20,9,922009182,26,82453.0,1.0,Analyst,70000,33
21,10,480001296,48,39237.0,1.0,Analyst,70000,33
22,16,198003398,25,55465.0,1.0,Analyst,70000,33
23,22,442009624,20,44878.0,1.0,Analyst,70000,33
24,23,526007969,23,NaN,1.0,Analyst,70000,33
25,29,299006296,39,51810.0,1.0,Analyst,70000,33
26,38,407007108,43,49579.0,1.0,Analyst,70000,33
27,39,955007865,47,90958.0,1.0,Analyst,70000,33
28,48,619001843,20,46377.0,1.0,Analyst,70000,33
29,52,270002067,38,72208.0,1.0,Analyst,70000,33
...,...,...,...,...,...,...,...,...
64,34,542005111,33,50956.0,6.0,Junior,71000,26
65,44,560006876,33,73246.0,6.0,Junior,71000,26
66,94,824002784,41,98690.0,6.0,Junior,71000,26
67,13,910008179,40,89638.0,5.0,CIO,64000,44
68,32,163006493,34,52471.0,5.0,CIO,64000,44
69,57,660006314,39,44045.0,5.0,CIO,64000,44
70,63,823003068,45,54708.0,5.0,CIO,64000,44
71,69,931007675,40,62160.0,5.0,CIO,64000,44
72,77,687004519,37,81719.0,5.0,CIO,64000,44
73,26,582004761,50,83118.0,2.0,Manager,52000,32
74,33,977001334,41,37663.0,2.0,Manager,52000,32
75,56,318002887,36,68940.0,2.0,Manager,52000,32
76,62,767009794,34,69454.0,2.0,Manager,52000,32
77,66,977001625,35,49679.0,2.0,Manager,52000,32
78,70,809009311,31,44296.0,2.0,Manager,52000,32
79,75,237004800,20,36486.0,2.0,Manager,52000,32
80,86,344008600,23,53737.0,2.0,Manager,52000,32
81,90,849002446,29,38048.0,2.0,Manager,52000,32
82,97,436008281,49,41102.0,2.0,Manager,52000,32
83,27,288003942,41,78586.0,3.0,Director,70000,40
84,41,905008487,49,73432.0,3.0,Director,70000,40
85,47,217004130,44,52549.0,3.0,Director,70000,40
86,49,438002456,26,69997.0,3.0,Director,70000,40
87,51,560008379,28,96595.0,3.0,Director,70000,40
88,58,376007775,41,77999.0,3.0,Director,70000,40
89,68,733007482,45,76294.0,3.0,Director,70000,40
90,71,939006436,44,63836.0,3.0,Director,70000,40
91,84,189003577,30,72402.0,3.0,Director,70000,40
92,96,509002228,41,65315.0,3.0,Director,70000,40
93,99,397003619,31,41513.0,3.0,Director,70000,40

In [19]:
df_emp_merge["jobtitle"].value_counts()

Asst. Director    14
Analyst           14
Senior            12
Director          11
CEO               10
Manager           10
Asst. Manager      9
Junior             8
CIO                6
Name: jobtitle, dtype: int64

In [10]:
df_emp_merge.duplicated().sum()

0

In [13]:
df_emp_merge['jobtitle'].value_counts()

Asst. Director    14
Analyst           14
Senior            12
Director          11
CEO               10
Manager           10
Asst. Manager      9
Junior             8
CIO                6
Name: jobtitle, dtype: int64

In [16]:
#Let's do a left join
df_emp_merge_left = df_emp.merge(df_job, how='left', on='jobtitleid')
df_emp_merge_left

,id,ssn,age,salary,jobtitleid,jobtitle,avg_salary,avg_age
0,1,933003970,22,84370.0,8.0,Asst. Manager,81000.0,32.0
1,2,507002598,48,78482.0,4.0,CEO,69000.0,47.0
2,3,152008826,39,87111.0,1.0,Analyst,70000.0,33.0
3,4,788008673,24,96731.0,9.0,Asst. Director,67000.0,36.0
4,5,351008582,24,88798.0,7.0,Senior,66000.0,30.0
5,6,727003339,48,98783.0,9.0,Asst. Director,67000.0,36.0
6,7,733008623,30,97576.0,8.0,Asst. Manager,81000.0,32.0
7,8,606004491,23,35311.0,9.0,Asst. Director,67000.0,36.0
8,9,922009182,26,82453.0,1.0,Analyst,70000.0,33.0
9,10,480001296,48,39237.0,1.0,Analyst,70000.0,33.0
10,11,521003273,38,NaN,6.0,Junior,71000.0,26.0
11,12,972001026,45,83308.0,9.0,Asst. Director,67000.0,36.0
12,13,910008179,40,89638.0,5.0,CIO,64000.0,44.0
13,14,679001870,40,75908.0,6.0,Junior,71000.0,26.0
14,15,742007773,27,89809.0,NaN,NaN,NaN,NaN
15,16,198003398,25,55465.0,1.0,Analyst,70000.0,33.0
16,17,393001646,44,95566.0,6.0,Junior,71000.0,26.0
17,18,393009871,49,94969.0,9.0,Asst. Director,67000.0,36.0
18,19,284003071,36,70813.0,NaN,NaN,NaN,NaN
19,20,834002866,50,51492.0,9.0,Asst. Director,67000.0,36.0
20,21,704006343,20,37416.0,7.0,Senior,66000.0,30.0
21,22,442009624,20,44878.0,1.0,Analyst,70000.0,33.0
22,23,526007969,23,NaN,1.0,Analyst,70000.0,33.0
23,24,625001750,39,82402.0,NaN,NaN,NaN,NaN
24,25,417004645,49,46835.0,6.0,Junior,71000.0,26.0
25,26,582004761,50,83118.0,2.0,Manager,52000.0,32.0
26,27,288003942,41,78586.0,3.0,Director,70000.0,40.0
27,28,369005211,45,73800.0,4.0,CEO,69000.0,47.0
28,29,299006296,39,51810.0,1.0,Analyst,70000.0,33.0
29,30,467009744,40,67709.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
69,70,809009311,31,44296.0,2.0,Manager,52000.0,32.0
70,71,939006436,44,63836.0,3.0,Director,70000.0,40.0
71,72,481004433,37,68024.0,9.0,Asst. Director,67000.0,36.0
72,73,687001660,48,80177.0,9.0,Asst. Director,67000.0,36.0
73,74,665008754,26,97584.0,8.0,Asst. Manager,81000.0,32.0
74,75,237004800,20,36486.0,2.0,Manager,52000.0,32.0
75,76,165004899,44,67949.0,9.0,Asst. Director,67000.0,36.0
76,77,687004519,37,81719.0,5.0,CIO,64000.0,44.0
77,78,832008851,24,63052.0,9.0,Asst. Director,67000.0,36.0
78,79,474009956,27,58564.0,4.0,CEO,69000.0,47.0
79,80,299009623,21,40391.0,9.0,Asst. Director,67000.0,36.0
80,81,547008192,35,85539.0,1.0,Analyst,70000.0,33.0
81,82,662002044,40,70727.0,4.0,CEO,69000.0,47.0
82,83,567003707,39,59077.0,7.0,Senior,66000.0,30.0
83,84,189003577,30,72402.0,3.0,Director,70000.0,40.0
84,85,469007299,28,89028.0,8.0,Asst. Manager,81000.0,32.0
85,86,344008600,23,53737.0,2.0,Manager,52000.0,32.0
86,87,270001483,38,82442.0,1.0,Analyst,70000.0,33.0
87,88,947001587,44,58079.0,7.0,Senior,66000.0,30.0
88,89,648009652,32,43998.0,9.0,Asst. Director,67000.0,36.0
89,90,849002446,29,38048.0,2.0,Manager,52000.0,32.0
90,91,751009209,20,54761.0,4.0,CEO,69000.0,47.0
91,92,333006701,44,37922.0,7.0,Senior,66000.0,30.0
92,93,863009747,21,79009.0,9.0,Asst. Director,67000.0,36.0
93,94,824002784,41,98690.0,6.0,Junior,71000.0,26.0
94,95,784005553,28,96509.0,4.0,CEO,69000.0,47.0
95,96,509002228,41,65315.0,3.0,Director,70000.0,40.0
96,97,436008281,49,41102.0,2.0,Manager,52000.0,32.0
97,98,350004551,34,96736.0,1.0,Analyst,70000.0,33.0
98,99,397003619,31,41513.0,3.0,Director,70000.0,40.0

In [15]:
df_emp_merge_left['jobtitle'].value_counts() #wait!  we left join, where's the mungers!

Asst. Director    14
Analyst           14
Senior            12
Director          11
CEO               10
Manager           10
Asst. Manager      9
Junior             8
CIO                6
Name: jobtitle, dtype: int64

In [14]:
df_job['jobtitle']

0           Analyst
1           Manager
2          Director
3               CEO
4               CIO
5            Junior
6            Senior
7     Asst. Manager
8    Asst. Director
9            Munger
Name: jobtitle, dtype: object

In [20]:
#Let's get our new job title file
#pull job
res = r.get(url + file_3)
res.status_code
df_job_year = pd.read_csv(io.StringIO(res.text)) 

#Notice the yr and salary increases of 2K
df_job_year

    jobtitleid        jobtitle  avg_salary  avg_age    yr
0            1         Analyst       70000       33  2018
1            2         Manager       52000       32  2018
2            3        Director       70000       40  2018
3            4             CEO       69000       47  2018
4            5             CIO       64000       44  2018
5            6          Junior       71000       26  2018
6            7          Senior       66000       30  2018
7            8   Asst. Manager       81000       32  2018
8            9  Asst. Director       67000       36  2018
9           10          Munger      200000       15  2018
10           1         Analyst       72000       33  2019
11           2         Manager       54000       32  2019
12           3        Director       72000       40  2019
13           4             CEO       71000       47  2019
14           5             CIO       66000       44  2019
15           6          Junior       73000       26  2019
16           7          Senior       68000       30  2019
17           8   Asst. Manager       83000       32  2019
18           9  Asst. Director       69000       36  2019
19          10          Munger      202000       15  2019

In [23]:
#Let's add a yr field to our emps and make it 2019
df_emp['yr'] = 2019
df_emp

    id        ssn  age   salary  jobtitleid    yr
0    1  933003970   22  84370.0         8.0  2019
1    2  507002598   48  78482.0         4.0  2019
2    3  152008826   39  87111.0         1.0  2019
3    4  788008673   24  96731.0         9.0  2019
4    5  351008582   24  88798.0         7.0  2019
5    6  727003339   48  98783.0         9.0  2019
6    7  733008623   30  97576.0         8.0  2019
7    8  606004491   23  35311.0         9.0  2019
8    9  922009182   26  82453.0         1.0  2019
9   10  480001296   48  39237.0         1.0  2019
10  11  521003273   38      NaN         6.0  2019
11  12  972001026   45  83308.0         9.0  2019
12  13  910008179   40  89638.0         5.0  2019
13  14  679001870   40  75908.0         6.0  2019
14  15  742007773   27  89809.0         NaN  2019
15  16  198003398   25  55465.0         1.0  2019
16  17  393001646   44  95566.0         6.0  2019
17  18  393009871   49  94969.0         9.0  2019
18  19  284003071   36  70813.0         NaN  2019
19  20  834002866   50  51492.0         9.0  2019
20  21  704006343   20  37416.0         7.0  2019
21  22  442009624   20  44878.0         1.0  2019
22  23  526007969   23      NaN         1.0  2019
23  24  625001750   39  82402.0         NaN  2019
24  25  417004645   49  46835.0         6.0  2019
25  26  582004761   50  83118.0         2.0  2019
26  27  288003942   41  78586.0         3.0  2019
27  28  369005211   45  73800.0         4.0  2019
28  29  299006296   39  51810.0         1.0  2019
29  30  467009744   40  67709.0         NaN  2019
..  ..        ...  ...      ...         ...   ...
69  70  809009311   31  44296.0         2.0  2019
70  71  939006436   44  63836.0         3.0  2019
71  72  481004433   37  68024.0         9.0  2019
72  73  687001660   48  80177.0         9.0  2019
73  74  665008754   26  97584.0         8.0  2019
74  75  237004800   20  36486.0         2.0  2019
75  76  165004899   44  67949.0         9.0  2019
76  77  687004519   37  81719.0         5.0  2019
77  78  832008851   24  63052.0         9.0  2019
78  79  474009956   27  58564.0         4.0  2019
79  80  299009623   21  40391.0         9.0  2019
80  81  547008192   35  85539.0         1.0  2019
81  82  662002044   40  70727.0         4.0  2019
82  83  567003707   39  59077.0         7.0  2019
83  84  189003577   30  72402.0         3.0  2019
84  85  469007299   28  89028.0         8.0  2019
85  86  344008600   23  53737.0         2.0  2019
86  87  270001483   38  82442.0         1.0  2019
87  88  947001587   44  58079.0         7.0  2019
88  89  648009652   32  43998.0         9.0  2019
89  90  849002446   29  38048.0         2.0  2019
90  91  751009209   20  54761.0         4.0  2019
91  92  333006701   44  37922.0         7.0  2019
92  93  863009747   21  79009.0         9.0  2019
93  94  824002784   41  98690.0         6.0  2019
94  95  784005553   28  96509.0         4.0  2019
95  96  509002228   41  65315.0         3.0  2019
96  97  436008281   49  41102.0         2.0  2019
97  98  350004551   34  96736.0         1.0  2019
98  99  397003619   31  41513.0         3.0  2019

[99 rows x 6 columns]

In [24]:
#Now, let's join.  Note, we can't do it on a single field
df_emp_merge_yr = df_emp.merge(df_job_year, how='inner', on=['jobtitleid', 'yr'])
df_emp_merge_yr

,id,ssn,age,salary,jobtitleid,yr,jobtitle,avg_salary,avg_age
0,1,933003970,22,84370.0,8.0,2019,Asst. Manager,83000,32
1,7,733008623,30,97576.0,8.0,2019,Asst. Manager,83000,32
2,37,750004704,46,47686.0,8.0,2019,Asst. Manager,83000,32
3,45,707009414,29,NaN,8.0,2019,Asst. Manager,83000,32
4,50,284001503,39,98150.0,8.0,2019,Asst. Manager,83000,32
5,54,147006799,31,59056.0,8.0,2019,Asst. Manager,83000,32
6,55,636009746,39,78476.0,8.0,2019,Asst. Manager,83000,32
7,74,665008754,26,97584.0,8.0,2019,Asst. Manager,83000,32
8,85,469007299,28,89028.0,8.0,2019,Asst. Manager,83000,32
9,2,507002598,48,78482.0,4.0,2019,CEO,71000,47
10,28,369005211,45,73800.0,4.0,2019,CEO,71000,47
11,43,398009013,37,88261.0,4.0,2019,CEO,71000,47
12,46,424004379,36,62013.0,4.0,2019,CEO,71000,47
13,59,963003214,30,86521.0,4.0,2019,CEO,71000,47
14,67,509009222,41,57509.0,4.0,2019,CEO,71000,47
15,79,474009956,27,58564.0,4.0,2019,CEO,71000,47
16,82,662002044,40,70727.0,4.0,2019,CEO,71000,47
17,91,751009209,20,54761.0,4.0,2019,CEO,71000,47
18,95,784005553,28,96509.0,4.0,2019,CEO,71000,47
19,3,152008826,39,87111.0,1.0,2019,Analyst,72000,33
20,9,922009182,26,82453.0,1.0,2019,Analyst,72000,33
21,10,480001296,48,39237.0,1.0,2019,Analyst,72000,33
22,16,198003398,25,55465.0,1.0,2019,Analyst,72000,33
23,22,442009624,20,44878.0,1.0,2019,Analyst,72000,33
24,23,526007969,23,NaN,1.0,2019,Analyst,72000,33
25,29,299006296,39,51810.0,1.0,2019,Analyst,72000,33
26,38,407007108,43,49579.0,1.0,2019,Analyst,72000,33
27,39,955007865,47,90958.0,1.0,2019,Analyst,72000,33
28,48,619001843,20,46377.0,1.0,2019,Analyst,72000,33
29,52,270002067,38,72208.0,1.0,2019,Analyst,72000,33
...,...,...,...,...,...,...,...,...,...
64,34,542005111,33,50956.0,6.0,2019,Junior,73000,26
65,44,560006876,33,73246.0,6.0,2019,Junior,73000,26
66,94,824002784,41,98690.0,6.0,2019,Junior,73000,26
67,13,910008179,40,89638.0,5.0,2019,CIO,66000,44
68,32,163006493,34,52471.0,5.0,2019,CIO,66000,44
69,57,660006314,39,44045.0,5.0,2019,CIO,66000,44
70,63,823003068,45,54708.0,5.0,2019,CIO,66000,44
71,69,931007675,40,62160.0,5.0,2019,CIO,66000,44
72,77,687004519,37,81719.0,5.0,2019,CIO,66000,44
73,26,582004761,50,83118.0,2.0,2019,Manager,54000,32
74,33,977001334,41,37663.0,2.0,2019,Manager,54000,32
75,56,318002887,36,68940.0,2.0,2019,Manager,54000,32
76,62,767009794,34,69454.0,2.0,2019,Manager,54000,32
77,66,977001625,35,49679.0,2.0,2019,Manager,54000,32
78,70,809009311,31,44296.0,2.0,2019,Manager,54000,32
79,75,237004800,20,36486.0,2.0,2019,Manager,54000,32
80,86,344008600,23,53737.0,2.0,2019,Manager,54000,32
81,90,849002446,29,38048.0,2.0,2019,Manager,54000,32
82,97,436008281,49,41102.0,2.0,2019,Manager,54000,32
83,27,288003942,41,78586.0,3.0,2019,Director,72000,40
84,41,905008487,49,73432.0,3.0,2019,Director,72000,40
85,47,217004130,44,52549.0,3.0,2019,Director,72000,40
86,49,438002456,26,69997.0,3.0,2019,Director,72000,40
87,51,560008379,28,96595.0,3.0,2019,Director,72000,40
88,58,376007775,41,77999.0,3.0,2019,Director,72000,40
89,68,733007482,45,76294.0,3.0,2019,Director,72000,40
90,71,939006436,44,63836.0,3.0,2019,Director,72000,40
91,84,189003577,30,72402.0,3.0,2019,Director,72000,40
92,96,509002228,41,65315.0,3.0,2019,Director,72000,40
93,99,397003619,31,41513.0,3.0,2019,Director,72000,40

In [25]:
#similar logic using left_on, right_on.  
df_emp_merge_yr_lr = df_emp.merge(df_job_year, how='inner', left_on=['jobtitleid', 'yr'], right_on=['jobtitleid', 'yr'])
df_emp_merge_yr_lr

,id,ssn,age,salary,jobtitleid,yr,jobtitle,avg_salary,avg_age
0,1,933003970,22,84370.0,8.0,2019,Asst. Manager,83000,32
1,7,733008623,30,97576.0,8.0,2019,Asst. Manager,83000,32
2,37,750004704,46,47686.0,8.0,2019,Asst. Manager,83000,32
3,45,707009414,29,NaN,8.0,2019,Asst. Manager,83000,32
4,50,284001503,39,98150.0,8.0,2019,Asst. Manager,83000,32
5,54,147006799,31,59056.0,8.0,2019,Asst. Manager,83000,32
6,55,636009746,39,78476.0,8.0,2019,Asst. Manager,83000,32
7,74,665008754,26,97584.0,8.0,2019,Asst. Manager,83000,32
8,85,469007299,28,89028.0,8.0,2019,Asst. Manager,83000,32
9,2,507002598,48,78482.0,4.0,2019,CEO,71000,47
10,28,369005211,45,73800.0,4.0,2019,CEO,71000,47
11,43,398009013,37,88261.0,4.0,2019,CEO,71000,47
12,46,424004379,36,62013.0,4.0,2019,CEO,71000,47
13,59,963003214,30,86521.0,4.0,2019,CEO,71000,47
14,67,509009222,41,57509.0,4.0,2019,CEO,71000,47
15,79,474009956,27,58564.0,4.0,2019,CEO,71000,47
16,82,662002044,40,70727.0,4.0,2019,CEO,71000,47
17,91,751009209,20,54761.0,4.0,2019,CEO,71000,47
18,95,784005553,28,96509.0,4.0,2019,CEO,71000,47
19,3,152008826,39,87111.0,1.0,2019,Analyst,72000,33
20,9,922009182,26,82453.0,1.0,2019,Analyst,72000,33
21,10,480001296,48,39237.0,1.0,2019,Analyst,72000,33
22,16,198003398,25,55465.0,1.0,2019,Analyst,72000,33
23,22,442009624,20,44878.0,1.0,2019,Analyst,72000,33
24,23,526007969,23,NaN,1.0,2019,Analyst,72000,33
25,29,299006296,39,51810.0,1.0,2019,Analyst,72000,33
26,38,407007108,43,49579.0,1.0,2019,Analyst,72000,33
27,39,955007865,47,90958.0,1.0,2019,Analyst,72000,33
28,48,619001843,20,46377.0,1.0,2019,Analyst,72000,33
29,52,270002067,38,72208.0,1.0,2019,Analyst,72000,33
...,...,...,...,...,...,...,...,...,...
64,34,542005111,33,50956.0,6.0,2019,Junior,73000,26
65,44,560006876,33,73246.0,6.0,2019,Junior,73000,26
66,94,824002784,41,98690.0,6.0,2019,Junior,73000,26
67,13,910008179,40,89638.0,5.0,2019,CIO,66000,44
68,32,163006493,34,52471.0,5.0,2019,CIO,66000,44
69,57,660006314,39,44045.0,5.0,2019,CIO,66000,44
70,63,823003068,45,54708.0,5.0,2019,CIO,66000,44
71,69,931007675,40,62160.0,5.0,2019,CIO,66000,44
72,77,687004519,37,81719.0,5.0,2019,CIO,66000,44
73,26,582004761,50,83118.0,2.0,2019,Manager,54000,32
74,33,977001334,41,37663.0,2.0,2019,Manager,54000,32
75,56,318002887,36,68940.0,2.0,2019,Manager,54000,32
76,62,767009794,34,69454.0,2.0,2019,Manager,54000,32
77,66,977001625,35,49679.0,2.0,2019,Manager,54000,32
78,70,809009311,31,44296.0,2.0,2019,Manager,54000,32
79,75,237004800,20,36486.0,2.0,2019,Manager,54000,32
80,86,344008600,23,53737.0,2.0,2019,Manager,54000,32
81,90,849002446,29,38048.0,2.0,2019,Manager,54000,32
82,97,436008281,49,41102.0,2.0,2019,Manager,54000,32
83,27,288003942,41,78586.0,3.0,2019,Director,72000,40
84,41,905008487,49,73432.0,3.0,2019,Director,72000,40
85,47,217004130,44,52549.0,3.0,2019,Director,72000,40
86,49,438002456,26,69997.0,3.0,2019,Director,72000,40
87,51,560008379,28,96595.0,3.0,2019,Director,72000,40
88,58,376007775,41,77999.0,3.0,2019,Director,72000,40
89,68,733007482,45,76294.0,3.0,2019,Director,72000,40
90,71,939006436,44,63836.0,3.0,2019,Director,72000,40
91,84,189003577,30,72402.0,3.0,2019,Director,72000,40
92,96,509002228,41,65315.0,3.0,2019,Director,72000,40
93,99,397003619,31,41513.0,3.0,2019,Director,72000,40

In [26]:
#Note, the order of the fields matters
df_emp_merge_yr_lr2 = df_emp.merge(df_job_year, how='inner', left_on=['yr', 'jobtitleid'], right_on=['jobtitleid', 'yr'])
df_emp_merge_yr_lr2

Empty DataFrame
Columns: [id, ssn, age, salary, jobtitleid_x, yr_x, jobtitleid_y, jobtitle, avg_salary, avg_age, yr_y]
Index: []

In [27]:
#                            Join Issues - Missing Keys                       #

In [28]:
#pull employment
res = r.get(url + file_1)
res.status_code
df_emp = pd.read_csv(io.StringIO(res.text)) 

#pull job
res = r.get(url + file_2)
res.status_code
df_job = pd.read_csv(io.StringIO(res.text))

In [29]:
#Let's join our files
dfmerged = df_emp.merge(df_job, how='inner', on='jobtitleid')
dfmerged.head()

   id        ssn  age   salary  jobtitleid       jobtitle  avg_salary  avg_age
0   1  933003970   22  84370.0         8.0  Asst. Manager       81000       32
1   7  733008623   30  97576.0         8.0  Asst. Manager       81000       32
2  37  750004704   46  47686.0         8.0  Asst. Manager       81000       32
3  45  707009414   29      NaN         8.0  Asst. Manager       81000       32
4  50  284001503   39  98150.0         8.0  Asst. Manager       81000       32

In [30]:
## error ##

In [32]:
dfmerged = df_emp.merge(df_job, how='inner', on='jobtitleid')
dfmerged

,id,ssn,age,salary,jobtitleid,jobtitle,avg_salary,avg_age
0,1,933003970,22,84370.0,8.0,Asst. Manager,81000,32
1,7,733008623,30,97576.0,8.0,Asst. Manager,81000,32
2,37,750004704,46,47686.0,8.0,Asst. Manager,81000,32
3,45,707009414,29,NaN,8.0,Asst. Manager,81000,32
4,50,284001503,39,98150.0,8.0,Asst. Manager,81000,32
5,54,147006799,31,59056.0,8.0,Asst. Manager,81000,32
6,55,636009746,39,78476.0,8.0,Asst. Manager,81000,32
7,74,665008754,26,97584.0,8.0,Asst. Manager,81000,32
8,85,469007299,28,89028.0,8.0,Asst. Manager,81000,32
9,2,507002598,48,78482.0,4.0,CEO,69000,47
10,28,369005211,45,73800.0,4.0,CEO,69000,47
11,43,398009013,37,88261.0,4.0,CEO,69000,47
12,46,424004379,36,62013.0,4.0,CEO,69000,47
13,59,963003214,30,86521.0,4.0,CEO,69000,47
14,67,509009222,41,57509.0,4.0,CEO,69000,47
15,79,474009956,27,58564.0,4.0,CEO,69000,47
16,82,662002044,40,70727.0,4.0,CEO,69000,47
17,91,751009209,20,54761.0,4.0,CEO,69000,47
18,95,784005553,28,96509.0,4.0,CEO,69000,47
19,3,152008826,39,87111.0,1.0,Analyst,70000,33
20,9,922009182,26,82453.0,1.0,Analyst,70000,33
21,10,480001296,48,39237.0,1.0,Analyst,70000,33
22,16,198003398,25,55465.0,1.0,Analyst,70000,33
23,22,442009624,20,44878.0,1.0,Analyst,70000,33
24,23,526007969,23,NaN,1.0,Analyst,70000,33
25,29,299006296,39,51810.0,1.0,Analyst,70000,33
26,38,407007108,43,49579.0,1.0,Analyst,70000,33
27,39,955007865,47,90958.0,1.0,Analyst,70000,33
28,48,619001843,20,46377.0,1.0,Analyst,70000,33
29,52,270002067,38,72208.0,1.0,Analyst,70000,33
...,...,...,...,...,...,...,...,...
64,34,542005111,33,50956.0,6.0,Junior,71000,26
65,44,560006876,33,73246.0,6.0,Junior,71000,26
66,94,824002784,41,98690.0,6.0,Junior,71000,26
67,13,910008179,40,89638.0,5.0,CIO,64000,44
68,32,163006493,34,52471.0,5.0,CIO,64000,44
69,57,660006314,39,44045.0,5.0,CIO,64000,44
70,63,823003068,45,54708.0,5.0,CIO,64000,44
71,69,931007675,40,62160.0,5.0,CIO,64000,44
72,77,687004519,37,81719.0,5.0,CIO,64000,44
73,26,582004761,50,83118.0,2.0,Manager,52000,32
74,33,977001334,41,37663.0,2.0,Manager,52000,32
75,56,318002887,36,68940.0,2.0,Manager,52000,32
76,62,767009794,34,69454.0,2.0,Manager,52000,32
77,66,977001625,35,49679.0,2.0,Manager,52000,32
78,70,809009311,31,44296.0,2.0,Manager,52000,32
79,75,237004800,20,36486.0,2.0,Manager,52000,32
80,86,344008600,23,53737.0,2.0,Manager,52000,32
81,90,849002446,29,38048.0,2.0,Manager,52000,32
82,97,436008281,49,41102.0,2.0,Manager,52000,32
83,27,288003942,41,78586.0,3.0,Director,70000,40
84,41,905008487,49,73432.0,3.0,Director,70000,40
85,47,217004130,44,52549.0,3.0,Director,70000,40
86,49,438002456,26,69997.0,3.0,Director,70000,40
87,51,560008379,28,96595.0,3.0,Director,70000,40
88,58,376007775,41,77999.0,3.0,Director,70000,40
89,68,733007482,45,76294.0,3.0,Director,70000,40
90,71,939006436,44,63836.0,3.0,Director,70000,40
91,84,189003577,30,72402.0,3.0,Director,70000,40
92,96,509002228,41,65315.0,3.0,Director,70000,40
93,99,397003619,31,41513.0,3.0,Director,70000,40

In [38]:
#let's look at count
dfmerged.count()

id            94
ssn           94
age           94
salary        90
jobtitleid    94
jobtitle      94
avg_salary    94
avg_age       94
dtype: int64

In [39]:
#where are our rows????.  note our join type
dfmerged = df_emp.merge(df_job, how='left', on='jobtitleid')
dfmerged.count()

id            99
ssn           99
age           99
salary        95
jobtitleid    94
jobtitle      94
avg_salary    94
avg_age       94
dtype: int64

In [40]:
#so what happened?
#Let's update with an "other" option.  0 for average age and salary
dfmergedcln = dfmerged.fillna({'jobtitleid' : -1, 'jobtitle':'other', 'avg_salary':0, 'avg_age':0})
dfmergedcln.count()

id            99
ssn           99
age           99
salary        95
jobtitleid    99
jobtitle      99
avg_salary    99
avg_age       99
dtype: int64

In [41]:
dfmergedcln

,id,ssn,age,salary,jobtitleid,jobtitle,avg_salary,avg_age
0,1,933003970,22,84370.0,8.0,Asst. Manager,81000.0,32.0
1,2,507002598,48,78482.0,4.0,CEO,69000.0,47.0
2,3,152008826,39,87111.0,1.0,Analyst,70000.0,33.0
3,4,788008673,24,96731.0,9.0,Asst. Director,67000.0,36.0
4,5,351008582,24,88798.0,7.0,Senior,66000.0,30.0
5,6,727003339,48,98783.0,9.0,Asst. Director,67000.0,36.0
6,7,733008623,30,97576.0,8.0,Asst. Manager,81000.0,32.0
7,8,606004491,23,35311.0,9.0,Asst. Director,67000.0,36.0
8,9,922009182,26,82453.0,1.0,Analyst,70000.0,33.0
9,10,480001296,48,39237.0,1.0,Analyst,70000.0,33.0
10,11,521003273,38,NaN,6.0,Junior,71000.0,26.0
11,12,972001026,45,83308.0,9.0,Asst. Director,67000.0,36.0
12,13,910008179,40,89638.0,5.0,CIO,64000.0,44.0
13,14,679001870,40,75908.0,6.0,Junior,71000.0,26.0
14,15,742007773,27,89809.0,-1.0,other,0.0,0.0
15,16,198003398,25,55465.0,1.0,Analyst,70000.0,33.0
16,17,393001646,44,95566.0,6.0,Junior,71000.0,26.0
17,18,393009871,49,94969.0,9.0,Asst. Director,67000.0,36.0
18,19,284003071,36,70813.0,-1.0,other,0.0,0.0
19,20,834002866,50,51492.0,9.0,Asst. Director,67000.0,36.0
20,21,704006343,20,37416.0,7.0,Senior,66000.0,30.0
21,22,442009624,20,44878.0,1.0,Analyst,70000.0,33.0
22,23,526007969,23,NaN,1.0,Analyst,70000.0,33.0
23,24,625001750,39,82402.0,-1.0,other,0.0,0.0
24,25,417004645,49,46835.0,6.0,Junior,71000.0,26.0
25,26,582004761,50,83118.0,2.0,Manager,52000.0,32.0
26,27,288003942,41,78586.0,3.0,Director,70000.0,40.0
27,28,369005211,45,73800.0,4.0,CEO,69000.0,47.0
28,29,299006296,39,51810.0,1.0,Analyst,70000.0,33.0
29,30,467009744,40,67709.0,-1.0,other,0.0,0.0
...,...,...,...,...,...,...,...,...
69,70,809009311,31,44296.0,2.0,Manager,52000.0,32.0
70,71,939006436,44,63836.0,3.0,Director,70000.0,40.0
71,72,481004433,37,68024.0,9.0,Asst. Director,67000.0,36.0
72,73,687001660,48,80177.0,9.0,Asst. Director,67000.0,36.0
73,74,665008754,26,97584.0,8.0,Asst. Manager,81000.0,32.0
74,75,237004800,20,36486.0,2.0,Manager,52000.0,32.0
75,76,165004899,44,67949.0,9.0,Asst. Director,67000.0,36.0
76,77,687004519,37,81719.0,5.0,CIO,64000.0,44.0
77,78,832008851,24,63052.0,9.0,Asst. Director,67000.0,36.0
78,79,474009956,27,58564.0,4.0,CEO,69000.0,47.0
79,80,299009623,21,40391.0,9.0,Asst. Director,67000.0,36.0
80,81,547008192,35,85539.0,1.0,Analyst,70000.0,33.0
81,82,662002044,40,70727.0,4.0,CEO,69000.0,47.0
82,83,567003707,39,59077.0,7.0,Senior,66000.0,30.0
83,84,189003577,30,72402.0,3.0,Director,70000.0,40.0
84,85,469007299,28,89028.0,8.0,Asst. Manager,81000.0,32.0
85,86,344008600,23,53737.0,2.0,Manager,52000.0,32.0
86,87,270001483,38,82442.0,1.0,Analyst,70000.0,33.0
87,88,947001587,44,58079.0,7.0,Senior,66000.0,30.0
88,89,648009652,32,43998.0,9.0,Asst. Director,67000.0,36.0
89,90,849002446,29,38048.0,2.0,Manager,52000.0,32.0
90,91,751009209,20,54761.0,4.0,CEO,69000.0,47.0
91,92,333006701,44,37922.0,7.0,Senior,66000.0,30.0
92,93,863009747,21,79009.0,9.0,Asst. Director,67000.0,36.0
93,94,824002784,41,98690.0,6.0,Junior,71000.0,26.0
94,95,784005553,28,96509.0,4.0,CEO,69000.0,47.0
95,96,509002228,41,65315.0,3.0,Director,70000.0,40.0
96,97,436008281,49,41102.0,2.0,Manager,52000.0,32.0
97,98,350004551,34,96736.0,1.0,Analyst,70000.0,33.0
98,99,397003619,31,41513.0,3.0,Director,70000.0,40.0

In [42]:
###############################################################################
#                           Update on groupings                               #
###############################################################################

In [43]:
res = r.get(url + 'emplist_salary.csv')
res.status_code
dfemplist = pd.read_csv(io.StringIO(res.text))

In [44]:
#Recall our missing salaries.  
dfemplist[dfemplist['salary'].isna()]

    id        ssn  age  salary       jobtitle
14  15  742007773   27     NaN  Asst. Manager
30  31  416007659   41     NaN         Junior
45  46  424004379   36     NaN            CEO
62  63  823003068   45     NaN            CIO
70  71  939006436   44     NaN       Director
96  97  436008281   49     NaN        Manager
97  98  350004551   34     NaN        Analyst

In [45]:
#Let's do a grouping based on jobtitle
dfavgsal = dfemplist[['jobtitle', 'salary']].groupby('jobtitle').mean()
dfavgsal

                      salary
jobtitle
Analyst         68095.000000
Asst. Director  67282.928571
Asst. Manager   80299.444444
CEO             70210.500000
CIO             66006.600000
Director        70468.200000
Junior          69494.875000
Manager         53491.222222
Senior          65828.833333

In [46]:
#Now, let's merge this onto our emplist file.  
dfempfinal = dfemplist.merge(dfavgsal, how='inner', on='jobtitle')
dfempfinal

    id        ssn  age  salary_x       jobtitle      salary_y
0    1  933003970   22   84370.0  Asst. Manager  80299.444444
1    7  733008623   30   97576.0  Asst. Manager  80299.444444
2   15  742007773   27       NaN  Asst. Manager  80299.444444
3   37  750004704   46   47686.0  Asst. Manager  80299.444444
4   45  707009414   29   70769.0  Asst. Manager  80299.444444
5   50  284001503   39   98150.0  Asst. Manager  80299.444444
6   54  147006799   31   59056.0  Asst. Manager  80299.444444
7   55  636009746   39   78476.0  Asst. Manager  80299.444444
8   74  665008754   26   97584.0  Asst. Manager  80299.444444
9   85  469007299   28   89028.0  Asst. Manager  80299.444444
10   2  507002598   48   78482.0            CEO  70210.500000
11  28  369005211   45   73800.0            CEO  70210.500000
12  43  398009013   37   88261.0            CEO  70210.500000
13  46  424004379   36       NaN            CEO  70210.500000
14  59  963003214   30   86521.0            CEO  70210.500000
15  64  974002011   32   36971.0            CEO  70210.500000
16  67  509009222   41   57509.0            CEO  70210.500000
17  79  474009956   27   58564.0            CEO  70210.500000
18  82  662002044   40   70727.0            CEO  70210.500000
19  91  751009209   20   54761.0            CEO  70210.500000
20  95  784005553   28   96509.0            CEO  70210.500000
21   3  152008826   39   87111.0        Analyst  68095.000000
22   9  922009182   26   82453.0        Analyst  68095.000000
23  10  480001296   48   39237.0        Analyst  68095.000000
24  16  198003398   25   55465.0        Analyst  68095.000000
25  19  284003071   36   70813.0        Analyst  68095.000000
26  22  442009624   20   44878.0        Analyst  68095.000000
27  23  526007969   23   80153.0        Analyst  68095.000000
28  24  625001750   39   82402.0        Analyst  68095.000000
29  29  299006296   39   51810.0        Analyst  68095.000000
..  ..        ...  ...       ...            ...           ...
69  34  542005111   33   50956.0         Junior  69494.875000
70  44  560006876   33   73246.0         Junior  69494.875000
71  94  824002784   41   98690.0         Junior  69494.875000
72  13  910008179   40   89638.0            CIO  66006.600000
73  32  163006493   34   52471.0            CIO  66006.600000
74  57  660006314   39   44045.0            CIO  66006.600000
75  63  823003068   45       NaN            CIO  66006.600000
76  69  931007675   40   62160.0            CIO  66006.600000
77  77  687004519   37   81719.0            CIO  66006.600000
78  26  582004761   50   83118.0        Manager  53491.222222
79  33  977001334   41   37663.0        Manager  53491.222222
80  56  318002887   36   68940.0        Manager  53491.222222
81  62  767009794   34   69454.0        Manager  53491.222222
82  66  977001625   35   49679.0        Manager  53491.222222
83  70  809009311   31   44296.0        Manager  53491.222222
84  75  237004800   20   36486.0        Manager  53491.222222
85  86  344008600   23   53737.0        Manager  53491.222222
86  90  849002446   29   38048.0        Manager  53491.222222
87  97  436008281   49       NaN        Manager  53491.222222
88  27  288003942   41   78586.0       Director  70468.200000
89  41  905008487   49   73432.0       Director  70468.200000
90  47  217004130   44   52549.0       Director  70468.200000
91  49  438002456   26   69997.0       Director  70468.200000
92  51  560008379   28   96595.0       Director  70468.200000
93  58  376007775   41   77999.0       Director  70468.200000
94  68  733007482   45   76294.0       Director  70468.200000
95  71  939006436   44       NaN       Director  70468.200000
96  84  189003577   30   72402.0       Director  70468.200000
97  96  509002228   41   65315.0       Director  70468.200000
98  99  397003619   31   41513.0       Director  70468.200000

[99 rows x 6 columns]

In [47]:
#better solution.  rename the columns from the average dataframe first.
dfavgsal.rename(columns={'salary' : 'avg_salary'}, inplace=True)

In [48]:
dfavgsal

                  avg_salary
jobtitle
Analyst         68095.000000
Asst. Director  67282.928571
Asst. Manager   80299.444444
CEO             70210.500000
CIO             66006.600000
Director        70468.200000
Junior          69494.875000
Manager         53491.222222
Senior          65828.833333

In [49]:
dfempfinal2 = dfemplist.merge(dfavgsal, how='inner', on='jobtitle')
dfempfinal2

    id        ssn  age   salary       jobtitle    avg_salary
0    1  933003970   22  84370.0  Asst. Manager  80299.444444
1    7  733008623   30  97576.0  Asst. Manager  80299.444444
2   15  742007773   27      NaN  Asst. Manager  80299.444444
3   37  750004704   46  47686.0  Asst. Manager  80299.444444
4   45  707009414   29  70769.0  Asst. Manager  80299.444444
5   50  284001503   39  98150.0  Asst. Manager  80299.444444
6   54  147006799   31  59056.0  Asst. Manager  80299.444444
7   55  636009746   39  78476.0  Asst. Manager  80299.444444
8   74  665008754   26  97584.0  Asst. Manager  80299.444444
9   85  469007299   28  89028.0  Asst. Manager  80299.444444
10   2  507002598   48  78482.0            CEO  70210.500000
11  28  369005211   45  73800.0            CEO  70210.500000
12  43  398009013   37  88261.0            CEO  70210.500000
13  46  424004379   36      NaN            CEO  70210.500000
14  59  963003214   30  86521.0            CEO  70210.500000
15  64  974002011   32  36971.0            CEO  70210.500000
16  67  509009222   41  57509.0            CEO  70210.500000
17  79  474009956   27  58564.0            CEO  70210.500000
18  82  662002044   40  70727.0            CEO  70210.500000
19  91  751009209   20  54761.0            CEO  70210.500000
20  95  784005553   28  96509.0            CEO  70210.500000
21   3  152008826   39  87111.0        Analyst  68095.000000
22   9  922009182   26  82453.0        Analyst  68095.000000
23  10  480001296   48  39237.0        Analyst  68095.000000
24  16  198003398   25  55465.0        Analyst  68095.000000
25  19  284003071   36  70813.0        Analyst  68095.000000
26  22  442009624   20  44878.0        Analyst  68095.000000
27  23  526007969   23  80153.0        Analyst  68095.000000
28  24  625001750   39  82402.0        Analyst  68095.000000
29  29  299006296   39  51810.0        Analyst  68095.000000
..  ..        ...  ...      ...            ...           ...
69  34  542005111   33  50956.0         Junior  69494.875000
70  44  560006876   33  73246.0         Junior  69494.875000
71  94  824002784   41  98690.0         Junior  69494.875000
72  13  910008179   40  89638.0            CIO  66006.600000
73  32  163006493   34  52471.0            CIO  66006.600000
74  57  660006314   39  44045.0            CIO  66006.600000
75  63  823003068   45      NaN            CIO  66006.600000
76  69  931007675   40  62160.0            CIO  66006.600000
77  77  687004519   37  81719.0            CIO  66006.600000
78  26  582004761   50  83118.0        Manager  53491.222222
79  33  977001334   41  37663.0        Manager  53491.222222
80  56  318002887   36  68940.0        Manager  53491.222222
81  62  767009794   34  69454.0        Manager  53491.222222
82  66  977001625   35  49679.0        Manager  53491.222222
83  70  809009311   31  44296.0        Manager  53491.222222
84  75  237004800   20  36486.0        Manager  53491.222222
85  86  344008600   23  53737.0        Manager  53491.222222
86  90  849002446   29  38048.0        Manager  53491.222222
87  97  436008281   49      NaN        Manager  53491.222222
88  27  288003942   41  78586.0       Director  70468.200000
89  41  905008487   49  73432.0       Director  70468.200000
90  47  217004130   44  52549.0       Director  70468.200000
91  49  438002456   26  69997.0       Director  70468.200000
92  51  560008379   28  96595.0       Director  70468.200000
93  58  376007775   41  77999.0       Director  70468.200000
94  68  733007482   45  76294.0       Director  70468.200000
95  71  939006436   44      NaN       Director  70468.200000
96  84  189003577   30  72402.0       Director  70468.200000
97  96  509002228   41  65315.0       Director  70468.200000
98  99  397003619   31  41513.0       Director  70468.200000

[99 rows x 6 columns]

In [50]:
#Finally, let's update the missing salaries.
dfempfinal2['salary'][dfempfinal2['salary'].isna()] = dfempfinal2['avg_salary']

C:\Users\nahid\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [51]:
dfempfinal2

    id        ssn  age        salary       jobtitle    avg_salary
0    1  933003970   22  84370.000000  Asst. Manager  80299.444444
1    7  733008623   30  97576.000000  Asst. Manager  80299.444444
2   15  742007773   27  80299.444444  Asst. Manager  80299.444444
3   37  750004704   46  47686.000000  Asst. Manager  80299.444444
4   45  707009414   29  70769.000000  Asst. Manager  80299.444444
5   50  284001503   39  98150.000000  Asst. Manager  80299.444444
6   54  147006799   31  59056.000000  Asst. Manager  80299.444444
7   55  636009746   39  78476.000000  Asst. Manager  80299.444444
8   74  665008754   26  97584.000000  Asst. Manager  80299.444444
9   85  469007299   28  89028.000000  Asst. Manager  80299.444444
10   2  507002598   48  78482.000000            CEO  70210.500000
11  28  369005211   45  73800.000000            CEO  70210.500000
12  43  398009013   37  88261.000000            CEO  70210.500000
13  46  424004379   36  70210.500000            CEO  70210.500000
14  59  963003214   30  86521.000000            CEO  70210.500000
15  64  974002011   32  36971.000000            CEO  70210.500000
16  67  509009222   41  57509.000000            CEO  70210.500000
17  79  474009956   27  58564.000000            CEO  70210.500000
18  82  662002044   40  70727.000000            CEO  70210.500000
19  91  751009209   20  54761.000000            CEO  70210.500000
20  95  784005553   28  96509.000000            CEO  70210.500000
21   3  152008826   39  87111.000000        Analyst  68095.000000
22   9  922009182   26  82453.000000        Analyst  68095.000000
23  10  480001296   48  39237.000000        Analyst  68095.000000
24  16  198003398   25  55465.000000        Analyst  68095.000000
25  19  284003071   36  70813.000000        Analyst  68095.000000
26  22  442009624   20  44878.000000        Analyst  68095.000000
27  23  526007969   23  80153.000000        Analyst  68095.000000
28  24  625001750   39  82402.000000        Analyst  68095.000000
29  29  299006296   39  51810.000000        Analyst  68095.000000
..  ..        ...  ...           ...            ...           ...
69  34  542005111   33  50956.000000         Junior  69494.875000
70  44  560006876   33  73246.000000         Junior  69494.875000
71  94  824002784   41  98690.000000         Junior  69494.875000
72  13  910008179   40  89638.000000            CIO  66006.600000
73  32  163006493   34  52471.000000            CIO  66006.600000
74  57  660006314   39  44045.000000            CIO  66006.600000
75  63  823003068   45  66006.600000            CIO  66006.600000
76  69  931007675   40  62160.000000            CIO  66006.600000
77  77  687004519   37  81719.000000            CIO  66006.600000
78  26  582004761   50  83118.000000        Manager  53491.222222
79  33  977001334   41  37663.000000        Manager  53491.222222
80  56  318002887   36  68940.000000        Manager  53491.222222
81  62  767009794   34  69454.000000        Manager  53491.222222
82  66  977001625   35  49679.000000        Manager  53491.222222
83  70  809009311   31  44296.000000        Manager  53491.222222
84  75  237004800   20  36486.000000        Manager  53491.222222
85  86  344008600   23  53737.000000        Manager  53491.222222
86  90  849002446   29  38048.000000        Manager  53491.222222
87  97  436008281   49  53491.222222        Manager  53491.222222
88  27  288003942   41  78586.000000       Director  70468.200000
89  41  905008487   49  73432.000000       Director  70468.200000
90  47  217004130   44  52549.000000       Director  70468.200000
91  49  438002456   26  69997.000000       Director  70468.200000
92  51  560008379   28  96595.000000       Director  70468.200000
93  58  376007775   41  77999.000000       Director  70468.200000
94  68  733007482   45  76294.000000       Director  70468.200000
95  71  939006436   44  70468.200000       Director  70468.200000
96  84  189003577   30  72402.000000       Director  70468.200000
97  96  509002228   41  65315.000000       Director  70468.200000
98  99  397003619   31  41513.000000       Director  70468.200000

[99 rows x 6 columns]

In [52]:
#update post merge no copywithsettings
for index, row in dfempfinal2[dfempfinal2['salary'].isna()].iterrows():
    dfempfinal2.at[index, 'salary'] = row['avg_salary']
dfempfinal2

    id        ssn  age        salary       jobtitle    avg_salary
0    1  933003970   22  84370.000000  Asst. Manager  80299.444444
1    7  733008623   30  97576.000000  Asst. Manager  80299.444444
2   15  742007773   27  80299.444444  Asst. Manager  80299.444444
3   37  750004704   46  47686.000000  Asst. Manager  80299.444444
4   45  707009414   29  70769.000000  Asst. Manager  80299.444444
5   50  284001503   39  98150.000000  Asst. Manager  80299.444444
6   54  147006799   31  59056.000000  Asst. Manager  80299.444444
7   55  636009746   39  78476.000000  Asst. Manager  80299.444444
8   74  665008754   26  97584.000000  Asst. Manager  80299.444444
9   85  469007299   28  89028.000000  Asst. Manager  80299.444444
10   2  507002598   48  78482.000000            CEO  70210.500000
11  28  369005211   45  73800.000000            CEO  70210.500000
12  43  398009013   37  88261.000000            CEO  70210.500000
13  46  424004379   36  70210.500000            CEO  70210.500000
14  59  963003214   30  86521.000000            CEO  70210.500000
15  64  974002011   32  36971.000000            CEO  70210.500000
16  67  509009222   41  57509.000000            CEO  70210.500000
17  79  474009956   27  58564.000000            CEO  70210.500000
18  82  662002044   40  70727.000000            CEO  70210.500000
19  91  751009209   20  54761.000000            CEO  70210.500000
20  95  784005553   28  96509.000000            CEO  70210.500000
21   3  152008826   39  87111.000000        Analyst  68095.000000
22   9  922009182   26  82453.000000        Analyst  68095.000000
23  10  480001296   48  39237.000000        Analyst  68095.000000
24  16  198003398   25  55465.000000        Analyst  68095.000000
25  19  284003071   36  70813.000000        Analyst  68095.000000
26  22  442009624   20  44878.000000        Analyst  68095.000000
27  23  526007969   23  80153.000000        Analyst  68095.000000
28  24  625001750   39  82402.000000        Analyst  68095.000000
29  29  299006296   39  51810.000000        Analyst  68095.000000
..  ..        ...  ...           ...            ...           ...
69  34  542005111   33  50956.000000         Junior  69494.875000
70  44  560006876   33  73246.000000         Junior  69494.875000
71  94  824002784   41  98690.000000         Junior  69494.875000
72  13  910008179   40  89638.000000            CIO  66006.600000
73  32  163006493   34  52471.000000            CIO  66006.600000
74  57  660006314   39  44045.000000            CIO  66006.600000
75  63  823003068   45  66006.600000            CIO  66006.600000
76  69  931007675   40  62160.000000            CIO  66006.600000
77  77  687004519   37  81719.000000            CIO  66006.600000
78  26  582004761   50  83118.000000        Manager  53491.222222
79  33  977001334   41  37663.000000        Manager  53491.222222
80  56  318002887   36  68940.000000        Manager  53491.222222
81  62  767009794   34  69454.000000        Manager  53491.222222
82  66  977001625   35  49679.000000        Manager  53491.222222
83  70  809009311   31  44296.000000        Manager  53491.222222
84  75  237004800   20  36486.000000        Manager  53491.222222
85  86  344008600   23  53737.000000        Manager  53491.222222
86  90  849002446   29  38048.000000        Manager  53491.222222
87  97  436008281   49  53491.222222        Manager  53491.222222
88  27  288003942   41  78586.000000       Director  70468.200000
89  41  905008487   49  73432.000000       Director  70468.200000
90  47  217004130   44  52549.000000       Director  70468.200000
91  49  438002456   26  69997.000000       Director  70468.200000
92  51  560008379   28  96595.000000       Director  70468.200000
93  58  376007775   41  77999.000000       Director  70468.200000
94  68  733007482   45  76294.000000       Director  70468.200000
95  71  939006436   44  70468.200000       Director  70468.200000
96  84  189003577   30  72402.000000       Director  70468.200000
97  96  509002228   41  65315.000000       Director  70468.200000
98  99  397003619   31  41513.000000       Director  70468.200000

[99 rows x 6 columns]

In [53]:
#update pre-merge, no rename, no copy with settings.  
for index, row in dfemplist[dfemplist['salary'].isna()].iterrows():
    dfemplist.at[index, 'salary'] = dfavgsal.at[row['jobtitle'], 'avg_salary']    
dfemplist

    id        ssn  age        salary        jobtitle
0    1  933003970   22  84370.000000   Asst. Manager
1    2  507002598   48  78482.000000             CEO
2    3  152008826   39  87111.000000         Analyst
3    4  788008673   24  96731.000000  Asst. Director
4    5  351008582   24  88798.000000          Senior
5    6  727003339   48  98783.000000  Asst. Director
6    7  733008623   30  97576.000000   Asst. Manager
7    8  606004491   23  35311.000000  Asst. Director
8    9  922009182   26  82453.000000         Analyst
9   10  480001296   48  39237.000000         Analyst
10  11  521003273   38  47049.000000          Junior
11  12  972001026   45  83308.000000  Asst. Director
12  13  910008179   40  89638.000000             CIO
13  14  679001870   40  75908.000000          Junior
14  15  742007773   27  80299.444444   Asst. Manager
15  16  198003398   25  55465.000000         Analyst
16  17  393001646   44  95566.000000          Junior
17  18  393009871   49  94969.000000  Asst. Director
18  19  284003071   36  70813.000000         Analyst
19  20  834002866   50  51492.000000  Asst. Director
20  21  704006343   20  37416.000000          Senior
21  22  442009624   20  44878.000000         Analyst
22  23  526007969   23  80153.000000         Analyst
23  24  625001750   39  82402.000000         Analyst
24  25  417004645   49  46835.000000          Junior
25  26  582004761   50  83118.000000         Manager
26  27  288003942   41  78586.000000        Director
27  28  369005211   45  73800.000000             CEO
28  29  299006296   39  51810.000000         Analyst
29  30  467009744   40  67709.000000          Junior
..  ..        ...  ...           ...             ...
69  70  809009311   31  44296.000000         Manager
70  71  939006436   44  70468.200000        Director
71  72  481004433   37  68024.000000  Asst. Director
72  73  687001660   48  80177.000000  Asst. Director
73  74  665008754   26  97584.000000   Asst. Manager
74  75  237004800   20  36486.000000         Manager
75  76  165004899   44  67949.000000  Asst. Director
76  77  687004519   37  81719.000000             CIO
77  78  832008851   24  63052.000000  Asst. Director
78  79  474009956   27  58564.000000             CEO
79  80  299009623   21  40391.000000  Asst. Director
80  81  547008192   35  85539.000000         Analyst
81  82  662002044   40  70727.000000             CEO
82  83  567003707   39  59077.000000          Senior
83  84  189003577   30  72402.000000        Director
84  85  469007299   28  89028.000000   Asst. Manager
85  86  344008600   23  53737.000000         Manager
86  87  270001483   38  82442.000000         Analyst
87  88  947001587   44  58079.000000          Senior
88  89  648009652   32  43998.000000  Asst. Director
89  90  849002446   29  38048.000000         Manager
90  91  751009209   20  54761.000000             CEO
91  92  333006701   44  37922.000000          Senior
92  93  863009747   21  79009.000000  Asst. Director
93  94  824002784   41  98690.000000          Junior
94  95  784005553   28  96509.000000             CEO
95  96  509002228   41  65315.000000        Director
96  97  436008281   49  53491.222222         Manager
97  98  350004551   34  68095.000000         Analyst
98  99  397003619   31  41513.000000        Director

[99 rows x 5 columns]