In [1]:
import io
import pandas as pd
import numpy as np
import requests as r
import warnings
warnings.simplefilter(action='ignore', category=Warning)

In [2]:
fields_url='http://drd.ba.ttu.edu/isqs6339/assign/assign_2/fields.csv'
models_url='http://drd.ba.ttu.edu/isqs6339/assign/assign_2/models.csv'
vendors_url='http://drd.ba.ttu.edu/isqs6339/assign/assign_2/vendors.csv'
region_url='http://drd.ba.ttu.edu/isqs6339/assign/assign_2/region.csv'
powergeneration_url='http://drd.ba.ttu.edu/isqs6339/assign/assign_2/powergeneration.csv' 

res = r.get(fields_url)
res.status_code
data_fields = pd.read_csv(io.StringIO(res.text)) 

res = r.get(models_url)
res.status_code
data_models = pd.read_csv(io.StringIO(res.text)) 

res = r.get(vendors_url)
res.status_code
data_vebdors = pd.read_csv(io.StringIO(res.text)) 

res = r.get(region_url)
res.status_code
data_region = pd.read_csv(io.StringIO(res.text)) 

res = r.get(powergeneration_url)
res.status_code
data_powergeneration = pd.read_csv(io.StringIO(res.text))

In [3]:
# convert to DataFrame

In [4]:
df_fields= pd.DataFrame(data_fields)

In [5]:
data_fields.dtypes

fieldnumber     int64
fieldtxt       object
hasroads       object
haseasement    object
dtype: object

In [6]:
df_models= pd.DataFrame(data_models)
df_models.head()

  modelcd modelname  installcost  yearlyupkeep
0      FG    FG1597         9750          8377
1      BL    BL9633        20800          8748
2      GM    GM6971         6300          5195
3      BG    BG5143         2970          7941
4      VG    VG6615         4140          4525

In [7]:
df_models.dtypes

modelcd         object
modelname       object
installcost      int64
yearlyupkeep     int64
dtype: object

In [8]:
df_vebdors=pd.DataFrame(data_vebdors)
df_vebdors.head()

         Vendor       CIK AreaOfExpertiseCd  AreaOfExpertise  VendorPercent
0  Turbine Inc.  10002535                GN          General           0.30
1    Windstream  21500358                BG    High Capacity           0.35
2       PropBay  10025432                BL  High Efficiency           0.40
3  BreakingWind  31110054                FD        Being Bad           0.60

In [9]:
df_vebdors.dtypes

Vendor                object
CIK                    int64
AreaOfExpertiseCd     object
AreaOfExpertise       object
VendorPercent        float64
dtype: object

In [10]:
df_region=pd.DataFrame(data_region)
df_region.head()

  regioncd region_name State  HoursPerWeekOfOperation
0       RA   Region #1    TX                      168
1       RB   Region #2    OK                      120
2       RC   Region #3    NM                      120

In [11]:
df_region.dtypes

regioncd                   object
region_name                object
State                      object
HoursPerWeekOfOperation     int64
dtype: object

In [12]:
df_powergeneration= pd.DataFrame(data_powergeneration)
df_powergeneration.head()

,vendor,field,region_cd,model_cd,RevenueProduced,kilowatt_production,DateOfmeasure
0,10025432,OK16592,RA,OT,NaN,8.15,8/18/2017
1,10002535,OK16592,RB,BG,4770.0,8.43,12/30/2016
2,31110054,TX162158,RB,EL,17310.0,3.33,1/28/2017
3,21500358,OK115130,RB,BG,4770.0,8.72,7/29/2017
4,31110054,OK10536,RB,LN,12380.0,4.43,11/24/2017

In [13]:
df_powergeneration.dtypes

vendor                   int64
field                   object
region_cd               object
model_cd                object
RevenueProduced        float64
kilowatt_production    float64
DateOfmeasure           object
dtype: object

In [14]:
#lets check df_powergeneration data sates (missing valus )

In [15]:
df_powergeneration.describe

<bound method NDFrame.describe of        vendor     field region_cd model_cd  RevenueProduced  \
0    10025432   OK16592        RA       OT              NaN
1    10002535   OK16592        RB       BG           4770.0
2    31110054  TX162158        RB       EL          17310.0
3    21500358  OK115130        RB       BG           4770.0
4    31110054   OK10536        RB       LN          12380.0
..        ...       ...       ...      ...              ...
169  31110054   OK11556        RC       EL          18710.0
170  31110054   OK19596        RA       DL          11970.0
171  31110054   OK20598        RC       LN          13780.0
172  10025432  NM166101        RB       VG           5940.0
173  31110054   OK16592        RA       SA           5500.0

     kilowatt_production DateOfmeasure
0                   8.15     8/18/2017
1                   8.43    12/30/2016
2                   3.33     1/28/2017
3                   8.72     7/29/2017
4                   4.43    11/24/2017
..                   ...           ...
169                 2.14     2/18/2017
170                 5.86     11/8/2017
171                 6.76     5/12/2017
172                 3.28    11/19/2017
173                 2.59    12/28/2016

[174 rows x 7 columns]>

In [16]:
df_powergeneration.isnull()

,vendor,field,region_cd,model_cd,RevenueProduced,kilowatt_production,DateOfmeasure
0,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
169,False,False,False,False,False,False,False
170,False,False,False,False,False,False,False
171,False,False,False,False,False,False,False
172,False,False,False,False,False,False,False
173,False,False,False,False,False,False,False

In [17]:
df_powergeneration.isnull().sum()

vendor                  0
field                   0
region_cd               0
model_cd                0
RevenueProduced        19
kilowatt_production     0
DateOfmeasure           0
dtype: int64

In [18]:
mean_groupby_df_powergeneration= df_powergeneration.groupby("model_cd")["RevenueProduced"].transform('mean')
mean_groupby_df_powergeneration

0      13158.235294
1       8629.000000
2      17697.142857
3       8629.000000
4      13563.333333
           ...
169    17697.142857
170    12236.428571
171    13563.333333
172     7038.571429
173     7643.500000
Name: RevenueProduced, Length: 174, dtype: float64

In [19]:
df_powergeneration["RevenueProduced"].fillna(mean_groupby_df_powergeneration, inplace=True)

In [20]:
df_powergeneration.head()

,vendor,field,region_cd,model_cd,RevenueProduced,kilowatt_production,DateOfmeasure
0,10025432,OK16592,RA,OT,13158.235294,8.15,8/18/2017
1,10002535,OK16592,RB,BG,4770.000000,8.43,12/30/2016
2,31110054,TX162158,RB,EL,17310.000000,3.33,1/28/2017
3,21500358,OK115130,RB,BG,4770.000000,8.72,7/29/2017
4,31110054,OK10536,RB,LN,12380.000000,4.43,11/24/2017

In [21]:
df_powergeneration.isnull().sum()

vendor                 0
field                  0
region_cd              0
model_cd               0
RevenueProduced        0
kilowatt_production    0
DateOfmeasure          0
dtype: int64

In [22]:
# lets work with fileds

In [23]:
data_fields.head()

   fieldnumber fieldtxt hasroads haseasement
0          601  NM10601       No          No
1          502  OK20502      Yes         Yes
2          603   NM7603       No         Yes
3          604   NM9604       No          No
4          605  NM16605      Yes         Yes

In [24]:
data_fields["fieldnumber"].duplicated().sum()

0

In [25]:
data_fields["fieldtxt"].duplicated().sum()

0

In [26]:
# In fields data we dont fined any duplication issues

In [27]:
# Les's join the datasets

In [28]:
inner_df1 = df_powergeneration.merge(df_fields, left_on="field", right_on="fieldtxt", how='inner')
inner_df2 = inner_df1.merge(df_vebdors, left_on="vendor", right_on="CIK", how='inner')
inner_df3 = inner_df2.merge(df_models, left_on="model_cd", right_on="modelcd", how='inner')
inner_df4 = inner_df3.merge(df_region, left_on="region_cd", right_on="regioncd", how='inner')

In [29]:
inner_df4.isnull().sum()

vendor                     0
field                      0
region_cd                  0
model_cd                   0
RevenueProduced            0
kilowatt_production        0
DateOfmeasure              0
fieldnumber                0
fieldtxt                   0
hasroads                   0
haseasement                0
Vendor                     0
CIK                        0
AreaOfExpertiseCd          0
AreaOfExpertise            0
VendorPercent              0
modelcd                    0
modelname                  0
installcost                0
yearlyupkeep               0
regioncd                   0
region_name                0
State                      0
HoursPerWeekOfOperation    0
dtype: int64

In [30]:
inner_df4

,vendor,field,region_cd,model_cd,RevenueProduced,kilowatt_production,DateOfmeasure,fieldnumber,fieldtxt,hasroads,...,AreaOfExpertise,VendorPercent,modelcd,modelname,installcost,yearlyupkeep,regioncd,region_name,State,HoursPerWeekOfOperation
0,10025432,OK16592,RA,OT,13158.235294,8.15,8/18/2017,592,OK16592,Yes,...,High Efficiency,0.40,OT,OT2092,10560,5957,RA,Region #1,TX,168
1,10025432,TX6280,RA,OT,14160.000000,5.17,12/3/2016,280,TX6280,No,...,High Efficiency,0.40,OT,OT2092,10560,5957,RA,Region #1,TX,168
2,10025432,NM15683,RA,OT,14160.000000,8.36,3/4/2017,683,NM15683,No,...,High Efficiency,0.40,OT,OT2092,10560,5957,RA,Region #1,TX,168
3,10025432,NM156181,RA,OT,14160.000000,5.32,3/2/2017,6181,NM156181,Yes,...,High Efficiency,0.40,OT,OT2092,10560,5957,RA,Region #1,TX,168
4,10025432,NM86196,RA,OT,13158.235294,2.42,6/2/2017,6196,NM86196,Yes,...,High Efficiency,0.40,OT,OT2092,10560,5957,RA,Region #1,TX,168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,21500358,OK7522,RB,FG,11550.000000,4.66,5/14/2017,522,OK7522,No,...,High Capacity,0.35,FG,FG1597,9750,8377,RB,Region #2,OK,120
170,21500358,TX15297,RB,FG,11550.000000,4.67,6/12/2017,297,TX15297,No,...,High Capacity,0.35,FG,FG1597,9750,8377,RB,Region #2,OK,120
171,31110054,OK10536,RB,LN,12380.000000,4.43,11/24/2017,536,OK10536,Yes,...,Being Bad,0.60,LN,LN5994,10580,3738,RB,Region #2,OK,120
172,31110054,OK65128,RB,LN,12380.000000,2.57,3/9/2017,5128,OK65128,No,...,Being Bad,0.60,LN,LN5994,10580,3738,RB,Region #2,OK,120
173,31110054,NM186118,RB,LN,12380.000000,7.53,9/14/2017,6118,NM186118,No,...,Being Bad,0.60,LN,LN5994,10580,3738,RB,Region #2,OK,120

In [31]:
inner_df4.to_csv("inner.csv",index=False)

In [32]:
df_fields["fieldtxt"].value_counts().sum()

200

In [33]:
inner_df4["fieldtxt"].value_counts().sum()

174

In [34]:
df_models["modelcd"].value_counts()

modelcd
FG    1
BL    1
GM    1
BG    1
VG    1
IF    1
OT    1
DL    1
SA    1
LN    1
EL    1
Name: count, dtype: int64

In [35]:
inner_df4["model_cd"].value_counts()

model_cd
SA    23
EL    23
OT    21
FG    17
VG    16
DL    15
BL    15
IF    13
LN    13
BG    10
GM     8
Name: count, dtype: int64

In [36]:
inner_df4.drop(columns=["regioncd","modelcd","CIK","fieldtxt"], inplace=True)

In [37]:
inner_df4

,vendor,field,region_cd,model_cd,RevenueProduced,kilowatt_production,DateOfmeasure,fieldnumber,hasroads,haseasement,Vendor,AreaOfExpertiseCd,AreaOfExpertise,VendorPercent,modelname,installcost,yearlyupkeep,region_name,State,HoursPerWeekOfOperation
0,10025432,OK16592,RA,OT,13158.235294,8.15,8/18/2017,592,Yes,Yes,PropBay,BL,High Efficiency,0.40,OT2092,10560,5957,Region #1,TX,168
1,10025432,TX6280,RA,OT,14160.000000,5.17,12/3/2016,280,No,Yes,PropBay,BL,High Efficiency,0.40,OT2092,10560,5957,Region #1,TX,168
2,10025432,NM15683,RA,OT,14160.000000,8.36,3/4/2017,683,No,Yes,PropBay,BL,High Efficiency,0.40,OT2092,10560,5957,Region #1,TX,168
3,10025432,NM156181,RA,OT,14160.000000,5.32,3/2/2017,6181,Yes,No,PropBay,BL,High Efficiency,0.40,OT2092,10560,5957,Region #1,TX,168
4,10025432,NM86196,RA,OT,13158.235294,2.42,6/2/2017,6196,Yes,No,PropBay,BL,High Efficiency,0.40,OT2092,10560,5957,Region #1,TX,168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,21500358,OK7522,RB,FG,11550.000000,4.66,5/14/2017,522,No,Yes,Windstream,BG,High Capacity,0.35,FG1597,9750,8377,Region #2,OK,120
170,21500358,TX15297,RB,FG,11550.000000,4.67,6/12/2017,297,No,Yes,Windstream,BG,High Capacity,0.35,FG1597,9750,8377,Region #2,OK,120
171,31110054,OK10536,RB,LN,12380.000000,4.43,11/24/2017,536,Yes,Yes,BreakingWind,FD,Being Bad,0.60,LN5994,10580,3738,Region #2,OK,120
172,31110054,OK65128,RB,LN,12380.000000,2.57,3/9/2017,5128,No,Yes,BreakingWind,FD,Being Bad,0.60,LN5994,10580,3738,Region #2,OK,120
173,31110054,NM186118,RB,LN,12380.000000,7.53,9/14/2017,6118,No,No,BreakingWind,FD,Being Bad,0.60,LN5994,10580,3738,Region #2,OK,120

In [38]:
#computational columns

In [39]:
inner_df4["RevenuePerKilloWatt"]=inner_df4["RevenueProduced"]/inner_df4["kilowatt_production"]
inner_df4["NetProfitForThe1stYearOfInstallation"]=inner_df4["RevenueProduced"]-inner_df4["yearlyupkeep"]
inner_df4["HoursPerYearOfOperation"]=inner_df4["HoursPerWeekOfOperation"]*52
inner_df4["MaintenanceCostPerYear"]=inner_df4["yearlyupkeep"]/inner_df4["HoursPerYearOfOperation"]

In [40]:
conditions = [
    (inner_df4["MaintenanceCostPerYear"] > 1) & (inner_df4["kilowatt_production"] < 3),
    (inner_df4["MaintenanceCostPerYear"] > 0.5) & (inner_df4["MaintenanceCostPerYear"] < 1) & (inner_df4["kilowatt_production"] > 3) & (inner_df4["kilowatt_production"] < 6),
    (inner_df4["kilowatt_production"] > 6) & (inner_df4["kilowatt_production"] < 9)
]
choices= ["high","high","high"]  
inner_df4["Efficiency"]= np.select(conditions, choices , default='low')

In [41]:

condition1 = (inner_df4['hasroads'] == 'Yes') & (inner_df4['haseasement'] == 'Yes') & (inner_df4['AreaOfExpertise'] == 'High Capacity')
condition2 = (inner_df4['hasroads'] == 'Yes') & (inner_df4['haseasement'] == 'Yes') & (inner_df4['AreaOfExpertise'] == 'High Efficiency')

good_conditions = condition1 | condition2

inner_df4['VendorQuality'] = 'Bad'
inner_df4.loc[good_conditions, 'VendorQuality'] = 'Good'
inner_df4[["hasroads","haseasement", "AreaOfExpertise", "VendorQuality"]]

    hasroads haseasement  AreaOfExpertise VendorQuality
0        Yes         Yes  High Efficiency          Good
1         No         Yes  High Efficiency           Bad
2         No         Yes  High Efficiency           Bad
3        Yes          No  High Efficiency           Bad
4        Yes          No  High Efficiency           Bad
..       ...         ...              ...           ...
169       No         Yes    High Capacity           Bad
170       No         Yes    High Capacity           Bad
171      Yes         Yes        Being Bad           Bad
172       No         Yes        Being Bad           Bad
173       No          No        Being Bad           Bad

[174 rows x 4 columns]

In [42]:
#aggregate_df

In [43]:
aggregate_df= inner_df4.groupby('region_name').agg({
    "RevenuePerKilloWatt" : "mean",
    "HoursPerYearOfOperation" : "mean",
    "MaintenanceCostPerYear" : "mean"
})

aggregate_df.to_csv("region_aggregate.csv")

In [44]:
#high efficiency model df

In [45]:
HighEfficiencyDF= inner_df4[inner_df4["Efficiency"]=='high']
HighEfficiencyDF_Select_colums= HighEfficiencyDF[["model_cd","modelname","installcost","yearlyupkeep"]]
HighEfficiencyDF_Select_colums.to_csv("high_efficiency_model.csv", index=False)

In [46]:
# Vendor preium column

In [47]:
inner_df4['new_vendor_percentage'] = inner_df4['VendorPercent']

inner_df4.loc[inner_df4['VendorQuality'] == 'Good', 'new_vendor_percentage'] = inner_df4['VendorPercent'] * 1.05
inner_df4.loc[inner_df4['VendorQuality'] != 'Good', 'new_vendor_percentage'] = inner_df4['VendorPercent'] * 0.95

# Group by the specified columns and compute average
aggregate_df = inner_df4.groupby(['region_name', 'Vendor', 'VendorQuality']).agg({
    'VendorPercent': 'mean',
    'new_vendor_percentage': 'mean'
}).reset_index()

# Save the aggregated data to a CSV file
aggregate_df.to_csv("vendor_quality.csv", index=False)

In [48]:
inner_df4.head(5)

,vendor,field,region_cd,model_cd,RevenueProduced,kilowatt_production,DateOfmeasure,fieldnumber,hasroads,haseasement,...,region_name,State,HoursPerWeekOfOperation,RevenuePerKilloWatt,NetProfitForThe1stYearOfInstallation,HoursPerYearOfOperation,MaintenanceCostPerYear,Efficiency,VendorQuality,new_vendor_percentage
0,10025432,OK16592,RA,OT,13158.235294,8.15,8/18/2017,592,Yes,Yes,...,Region #1,TX,168,1614.507398,7201.235294,8736,0.681891,high,Good,0.42
1,10025432,TX6280,RA,OT,14160.000000,5.17,12/3/2016,280,No,Yes,...,Region #1,TX,168,2738.878143,8203.000000,8736,0.681891,high,Bad,0.38
2,10025432,NM15683,RA,OT,14160.000000,8.36,3/4/2017,683,No,Yes,...,Region #1,TX,168,1693.779904,8203.000000,8736,0.681891,high,Bad,0.38
3,10025432,NM156181,RA,OT,14160.000000,5.32,3/2/2017,6181,Yes,No,...,Region #1,TX,168,2661.654135,8203.000000,8736,0.681891,high,Bad,0.38
4,10025432,NM86196,RA,OT,13158.235294,2.42,6/2/2017,6196,Yes,No,...,Region #1,TX,168,5437.287312,7201.235294,8736,0.681891,low,Bad,0.38

In [49]:
# Create updated_hour column based on region
inner_df4['updated_hour'] = inner_df4['HoursPerWeekOfOperation']
inner_df4.loc[inner_df4['State'] == 'TX', 'updated_hour'] = inner_df4['HoursPerWeekOfOperation'] * 1.06
inner_df4.loc[inner_df4['State'] == 'OK', 'updated_hour'] = inner_df4['HoursPerWeekOfOperation'] * 1.045
inner_df4.loc[inner_df4['State'] == 'NM', 'updated_hour'] = inner_df4['HoursPerWeekOfOperation'] * 1.04

# Calculate hour_diff
inner_df4['hour_diff'] = inner_df4['updated_hour'] - inner_df4['HoursPerWeekOfOperation']

# Filter data for high efficiency and compute the sum
aggregate_df = inner_df4[inner_df4['Efficiency'] == 'high'].groupby('modelname').agg({
    'HoursPerWeekOfOperation': 'sum',
    'updated_hour': 'sum',
    'hour_diff': 'sum'
}).reset_index()

# Save the aggregated data to a CSV file
aggregate_df.to_csv("operation_hours_raises.csv", index=False)